BasedOnStyle: LLVM
IndentWidth: 4

Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: true
PointerAlignment: Right


# 访问说明符(public、private等)的偏移
AccessModifierOffset: -4

# 不允许函数声明的所有参数在放在下一行
AllowAllParametersOfDeclarationOnNextLine: false

# 大括号换行，只有当BreakBeforeBraces设置为Custom时才有效
BraceWrapping:
  # class定义后面
  AfterClass: false
  # 控制语句后面
  AfterControlStatement: false
  # enum定义后面
  AfterEnum: false
  # 函数定义后面
  AfterFunction: false
  # 命名空间定义后面
  AfterNamespace: false
  # struct定义后面
  AfterStruct: false
  # union定义后面
  AfterUnion: false
  # extern之后
  AfterExternBlock: false
  # catch之前
  BeforeCatch: false
  # else之前
  BeforeElse: false
  # 缩进大括号
  IndentBraces: false
  # 分离空函数
  SplitEmptyFunction: false
  # 分离空语句
  SplitEmptyRecord: false
  # 分离空命名空间
  SplitEmptyNamespace: false

# BreakBeforeBraces: Allman
BreakBeforeBraces: Custom

# 去除C++11的列表初始化的大括号{后和}前的空格
Cpp11BracedListStyle: true